$purple-light: #302d43;
$purple-dark: #282639;
$green-neon: #92cf48;
$grey-light: #f4f6f9;
$grey-dark: #eaedf3;

// body
$body_bg_color: $grey-light;

// side bar & menu
$side_menu_bg_color: $purple-light;
$menu_item_a_color: $grey-dark;
$menu_item_a_hover_color: $purple-dark;
$menu_item_a_active_bg_color: $purple-dark;
$menu_item_a_active_border_color: $green-neon;

// font-awesome icon
$fa_color: $grey-dark;
$fa_active_color: $green-neon;
