@import 'src/styles/sass/partials/color';

.search-area {
  .fa,
  .fs {
    padding-right: 20px;
    color: orange;
  }

  input[type='text'] {
    background: aliceblue;
    border: none;
    font-size: 1.2rem;
    color: darkblue;
    padding: 12px;
    font-weight: 100;
    transition: all 0.5s ease-in-out;
    width: 450px;
    min-width: 300px;
  }

  &:hover {
    background: $grey-light;
  }
}
